Repository dadurek/2021l_uaim_lab_and_pro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-patient-data, trigger-doctors-app

.gitlab-ci.yml:

variables:
  PROJECT_PATH: 'Projekt'
  PATIENTS_DATA: 'PatientsData'
  DOCTORS_APP: 'DoctorsApp'
  PATIENT_WEB: 'PatientsWebApp'
  KUBERNETES: 'Miniprojekty/Kubernetes'

stages:
  - trigger

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

trigger-patient-data:
  stage: trigger
  trigger:
    include: $PROJECT_PATH/$PATIENTS_DATA/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - $PROJECT_PATH/$PATIENTS_DATA/**/*
        - $KUBERNETES/$PATIENTS_DATA/**/*
         
trigger-doctors-app:
  stage: trigger
  trigger:
    include: $PROJECT_PATH/$DOCTORS_APP/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - $PROJECT_PATH/$DOCTORS_APP/**/*
        - $KUBERNETES/$DOCTORS_APP/**/*

Update .gitlab-ci.yml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Remove variable from .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add to base .gitlab-ci.yml patients-web
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/DoctorsApp/.gitkeep
  Miniprojekty/Kubernetes/PatientsData/.gitkeep
  Miniprojekty/Kubernetes/PatientsWebApp/.gitkeep
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: trigger-patient-data, trigger-doctors-app

Update all .gitlab-ci.yml
  Projekt/DoctorsApp/.gitlab-ci.yml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: trigger-patient-data, trigger-doctors-app

Update .gitlab-ci.yml
  Projekt/DoctorsApp/.gitlab-ci.yml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: trigger-patient-data, trigger-doctors-app

Comment .gitlab-ci.yml to start only one trigger
  .gitlab-ci.yml
Due: none

First test of deploy
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/PatientsWebApp/.gitkeep
  Miniprojekty/Kubernetes/PatientsWebApp/deployment.yaml
  Miniprojekty/Kubernetes/PatientsWebApp/service.yaml
  Projekt/DoctorsApp/.gitlab-ci.yml
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: trigger-doctors-app

Test kubernetes deploy
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

Update
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

Magic update
  Miniprojekty/Kubernetes/PatientsWebApp/deployment.yaml
  Miniprojekty/Kubernetes/PatientsWebApp/service.yaml
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

Update v2
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

Maybe like that?
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

Working
  .gitlab-ci.yml
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

xdd
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf ??
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v2
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v3
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v4
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v5
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v6
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v7
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v8
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v9
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v10
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v11
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v12
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v13
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v14
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v15
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

wtf v16
  Projekt/PatientsWebApp/.gitlab-ci.yml
Due: none

Update deployment.yaml and service.yaml - delete namespace
  Miniprojekty/Kubernetes/PatientsWebApp/deployment.yaml
  Miniprojekty/Kubernetes/PatientsWebApp/service.yaml
Due: none

Working????????
  Miniprojekty/Kubernetes/PatientsWebApp/deployment.yaml
  Miniprojekty/Kubernetes/PatientsWebApp/service.yaml
Due: none

Maybe now?
  Miniprojekty/Kubernetes/PatientsWebApp/deployment.yaml
  Miniprojekty/Kubernetes/PatientsWebApp/service.yaml
Due: none

Testinggg
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/DoctorsApp/.gitkeep
  Miniprojekty/Kubernetes/DoctorsApp/deployment.yaml
  Miniprojekty/Kubernetes/DoctorsApp/service.yaml
  Miniprojekty/Kubernetes/DoctorsData/deployment.yaml
  Miniprojekty/Kubernetes/DoctorsData/service.yaml
  Miniprojekty/Kubernetes/PatientsApp/deployment.yaml
  Miniprojekty/Kubernetes/PatientsApp/service.yaml
  Miniprojekty/Kubernetes/PatientsData/.gitkeep
  Miniprojekty/Kubernetes/PatientsData/deployment.yaml
  Miniprojekty/Kubernetes/PatientsData/service.yaml
  Projekt/docker-compose.yml
Due: trigger-patient-data, trigger-doctors-app

Update node port
  Miniprojekty/Kubernetes/PatientsApp/service.yaml
Due: none

Update next node port
  Miniprojekty/Kubernetes/PatientsData/service.yaml
Due: trigger-patient-data

Seriously, last node port
  Miniprojekty/Kubernetes/PatientsApp/service.yaml
Due: none

Testinggg
  .gitlab-ci.yml
Due: none

Testing
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/DoctorsApp/service.yaml
  Miniprojekty/Kubernetes/PatientsApp/service.yaml
  Projekt/DoctorsApp/.gitlab-ci.yml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data, trigger-doctors-app

Update
  Projekt/DoctorsApp/.gitlab-ci.yml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data, trigger-doctors-app
