Repository dadurek/2021l_uaim_lab_and_pro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-patient-data, trigger-doctors-app, trigger-patient-web

trigger-patient-data:
  stage: trigger
  trigger:
    include: Projekt/PatientsData/.gitlab-ci.yml
    strategy: depend

trigger-doctors-app:
  stage: trigger
  trigger:
    include: Projekt/DoctorsApp/.gitlab-ci.yml
    strategy: depend

trigger-patient-web:
  stage: trigger
  trigger:
    include: Projekt/PatientsWebApp/.gitlab-ci.yml
    strategy: depend

Update
  .gitlab-ci.yml
Due: none

Update of base gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Remove only statement in jobs
  .gitlab-ci.yml
Due: none

Add tags
  .gitlab-ci.yml
Due: none

Update path to k8s files
  .gitlab-ci.yml
Due: none

Force to make changes
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/DoctorsData/deployment.yaml
  Miniprojekty/Kubernetes/PatientsApp/deployment.yaml
Due: none

Update
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/DoctorsData/deployment.yaml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsData/PatientsData.Domain/Properties/launchSettings.json
Due: trigger-patient-data

Develop
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/PatientsApp/deployment.yaml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsData/PatientsData.Domain/Properties/launchSettings.json
Due: trigger-patient-data

Update
  Miniprojekty/Kubernetes/DoctorsData/deployment.yaml
  Miniprojekty/Kubernetes/PatientsApp/deployment.yaml
Due: none

I am debil
  Miniprojekty/Kubernetes/DoctorsData/deployment.yaml
Due: none

Update port
  Projekt/PatientsWebApp/BlazorServer/Properties/launchSettings.json
Due: trigger-patient-web

Update
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Test of caching
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Probably end
  Projekt/DoctorsApp/.gitlab-ci.yml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsWebApp/.gitlab-ci.yml
  Projekt/docker-compose.yml
Due: trigger-patient-data, trigger-doctors-app, trigger-patient-web

Finish
  Projekt/PatientsWebApp/BlazorServer/BlazorServer.csproj
  Projekt/PatientsWebApp/BlazorServer/Pages/AboutMe.razor
  Projekt/PatientsWebApp/BlazorServer/Pages/DeleteAccount.razor
  Projekt/PatientsWebApp/BlazorServer/Properties/launchSettings.json
  Projekt/PatientsWebApp/BlazorServer/Startup.cs
  Projekt/PatientsWebApp/BlazorServer/_Imports.razor
  Projekt/PatientsWebApp/Controller/Controller.cs
  Projekt/PatientsWebApp/Controller/IController.cs
  Projekt/PatientsWebApp/Model/Models/DoctorModel.cs
  Projekt/PatientsWebApp/Model/Models/IModel.cs
  Projekt/PatientsWebApp/Model/Models/Model.cs
  Projekt/PatientsWebApp/Model/Models/PatientModel.cs
  Projekt/PatientsWebApp/Model/Service/NetworkClient.cs
  Projekt/PatientsWebApp/Model/Service/NetworkClientFactory.cs
  Projekt/PatientsWebApp/Test/TestClass.cs
Due: trigger-patient-web

Update of NetworkClientFactory.cs
  Projekt/PatientsWebApp/Model/Service/NetworkClientFactory.cs
Due: trigger-patient-web

Develop
  Projekt/DoctorsApp/.gitlab-ci.yml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsWebApp/.gitlab-ci.yml
  Projekt/PatientsWebApp/BlazorServer/BlazorServer.csproj
  Projekt/PatientsWebApp/BlazorServer/Pages/AboutMe.razor
  Projekt/PatientsWebApp/BlazorServer/Pages/DeleteAccount.razor
  Projekt/PatientsWebApp/BlazorServer/Properties/launchSettings.json
  Projekt/PatientsWebApp/BlazorServer/Startup.cs
  Projekt/PatientsWebApp/BlazorServer/_Imports.razor
  Projekt/PatientsWebApp/Controller/Controller.cs
  Projekt/PatientsWebApp/Controller/IController.cs
  Projekt/PatientsWebApp/Model/Models/DoctorModel.cs
  Projekt/PatientsWebApp/Model/Models/IModel.cs
  Projekt/PatientsWebApp/Model/Models/Model.cs
  Projekt/PatientsWebApp/Model/Models/PatientModel.cs
  Projekt/PatientsWebApp/Model/Service/NetworkClient.cs
  Projekt/PatientsWebApp/Test/TestClass.cs
  Projekt/docker-compose.yml
Due: trigger-patient-data, trigger-doctors-app, trigger-patient-web

Update tests
  Projekt/PatientsWebApp/Controller/Controller.cs
  Projekt/PatientsWebApp/Model/IOperation/IDoctorOperation.cs
  Projekt/PatientsWebApp/Model/Models/DoctorModel.cs
  Projekt/PatientsWebApp/Model/Service/FakeNetworkClient.cs
  Projekt/PatientsWebApp/Test/TestClass.cs
Due: trigger-patient-web

Update deployments to StatefulSet
  Miniprojekty/Kubernetes/DoctorsData/deployment.yaml
  Miniprojekty/Kubernetes/PatientsData/deployment.yaml
Due: trigger-patient-data

Update
  Miniprojekty/Kubernetes/DoctorsData/deployment.yaml
  Miniprojekty/Kubernetes/PatientsData/deployment.yaml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Update
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/DoctorsData/statefulset.yaml
  Miniprojekty/Kubernetes/PatientsData/configMap.yaml
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Hope it works
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/PatientsData/configMap.yaml
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsData/Dockerfile
Due: trigger-patient-data

Fix mistakes
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Update
  Miniprojekty/Kubernetes/DoctorsData/statefulset.yaml
Due: none

Update
  Miniprojekty/Kubernetes/PatientsData/configMap.yaml
Due: trigger-patient-data

Update
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Push commit bo chce
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
  Projekt/PatientsData/.gitlab-ci.yml
Due: trigger-patient-data

Update
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
Due: trigger-patient-data

Update
  Miniprojekty/Kubernetes/PatientsData/configMap.yaml
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
Due: trigger-patient-data

Last commit
  Miniprojekty/Kubernetes/DoctorsData/statefulset.yaml
  Miniprojekty/Kubernetes/PatientsData/configMap.yaml
  Miniprojekty/Kubernetes/PatientsData/statefulset.yaml
  Projekt/PatientsData/.gitlab-ci.yml
  Projekt/PatientsData/Dockerfile
Due: trigger-patient-data

Merging
  Miniprojekty/Kubernetes/PatientsWebApp/deployment.yaml
  Projekt/PatientsData/PatientsData.Domain/PatientsData.Domain.csproj
  Projekt/PatientsWebApp/BlazorServer/appsettings.Development.json
  Projekt/PatientsWebApp/Model/IData/IDoctorData.cs
  Projekt/PatientsWebApp/Model/Models/DoctorModel.cs
  Projekt/PatientsWebApp/Utilities/ServiceClient.cs
  Projekt/docker-compose.yml
Due: trigger-patient-data, trigger-patient-web

Update of SignUp page
  Projekt/PatientsWebApp/BlazorServer/Pages/SingUp.razor
  Projekt/PatientsWebApp/BlazorServer/Shared/NavMenu.razor
Due: trigger-patient-web

Add Zdulski&Walusiak app
  .gitlab-ci.yml
  Miniprojekty/Kubernetes/DoctorsWebApp/deployment.yml
  Miniprojekty/Kubernetes/DoctorsWebApp/service.yaml
Due: none

Update
  Miniprojekty/Kubernetes/DoctorsWebApp/deployment.yml
Due: none

Path conditions:
  trigger-patient-data: any of: Projekt/PatientsData/**/*, Miniprojekty/Kubernetes/PatientsData/**/*
  trigger-doctors-app: any of: Projekt/DoctorsApp/**/*, Miniprojekty/Kubernetes/DoctorsApp/**/*
  trigger-patient-web: any of: Projekt/PatientsWebApp/**/*, Miniprojekty/Kubernetes/PatientsWebApp/**/*
